[user]
	name = Deniz Eren
	email = dee.116@gmail.com

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status -sb
  ds = diff --staged
  unstage = reset HEAD --
  co = checkout
  mg = merge --edit --no-ff --no-commit

[core]
  pager = less
  editor = vim

[color]
  ui = true
